<body>
    <h3>Время {{user}}</h3>
    <form method="post" action="">
    <div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Список</label>
        <select name="teacher_name">
            <option disabled="true">Выберите преподователя</option>
            {%for teacher in posts%}
            <option>{{ teacher.teacher_name }}</option>
            {%endfor%}
        </select>


        <h2>Ввод Сообщений</h2>

    

    

        <form method="post" action="">{% csrf_token %}
    
            </br>
            <textarea name="text_message" placeholder="Текст"></textarea>>
            </br>
            <button type="submit">Отправить</button>
        
        
        </form>
    </tr>
    {% for chat in chat %}
    <tr>
        <td><a></a>{{ chat.teacher }}</a></td><td>{{ chat.date }}</td><td>{{ chat.text_message }}</td>
    </tr>
    {% endfor %}
        {% endblock  %} 


    </div>


    </div>

    </form>
</body>
