{% extends 'base.html'%}


{% block title %}Ввод Сообщений{% endblock  %} 



{% block content %}
    <h2>Ввод Сообщений</h2>

    <p>{{ error }}</p>

    

    <form method="post" action="">{% csrf_token %}
        
        </br>
        <input type="text" name="secret" placeholder="secret Key"/>
        </br>
        <br>
        <input type="text" name="name" placeholder="Название"/>
        <br>
        </br>
        <textarea name="text" placeholder="Текст"></textarea>>
        </br>
        <button type="submit">Отправить</button>
    
    
    </form>
{% endblock  %} 
